@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --gradient: linear-gradient(to right, #ec994b, #eeaf74);
  --bg-color: #ec994b;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  min-width: 100vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
}

/* NAVBAR STYLES */
.navbar {
  z-index: 1;
  background-image: var(--gradient);
  position: fixed;
  width: 100%;
  left: 0;
}

.navbar-brand {
  font-size: 13px;
}

.nav-item {
  position: relative;
  margin-right: 20px;
  padding: 0;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: 10px;
}

.nav-link:focus::before {
  opacity: 80%;
  transform: translateY(0);
}

.btn {
  display: none;
}

.btn:hover {
  background-image: var(--gradient);
  border: 2px solid #fff;
  color: #fff;

  i {
    background-color: #333;
  }
}

i {
  background: var(--bg-color);
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

/* INTRO */
.intro {
  overflow: hidden;
  flex-grow: 1;
  background: var(--gradient);
  color: #fff;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  padding-top: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-flow: row wrap; */
}

.intro-row {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-1 {
  font-size: 22px;
  font-weight: 600;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-2 {
  font-size: 10px;
  flex-grow: 1;
}

.intro-img {
  width: 250px;
  height: 250px;
  flex-grow: 1;
}

svg {
  display: none;
}

/* SERVICES */
.services {
  z-index: -3;
  overflow-x: hidden;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-inner {
  width: 200px;
  position: relative;
}

.heading-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  bottom: 25px;
  border-radius: 6px;
  background: var(--bg-color);
}

.heading-inner::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 15px;
  bottom: 20px;
  left: 40%;
  border-radius: 6px;
  background: var(--bg-color);
  display: grid;
  place-content: center;
}

.services-icon {
  font-size: 17px;
}

.learn-more {
  z-index: 1;
  background: var(--gradient);
  color: #fff;
}

/* LATEST WORKS */
.portfolio {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.lw-btn {
  display: inline;
  border: 1px solid var(--bg-color);
  color: var(--bg-color);
  font-size: 16px;
  padding: 12px 10px;
}

.first-row {
  margin-top: 100px;
}

.card-body p {
  font-size: 8px;
}

/* FAQ */
.faq {
  overflow-x: hidden;
  flex-grow: 1;
  background: var(--gradient);
  color: #333;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-heading-inner {
  width: 200px;
  position: relative;
}

.faq-heading-inner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  bottom: 25px;
  border-radius: 6px;
  background: #fff;
}

.faq-heading-inner::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 15px;
  bottom: 20px;
  left: 40%;
  border-radius: 6px;
  background: #fff;
  display: grid;
  place-content: center;
}

.accordion-item {
  border: none;
  box-shadow: 1px 1px 15px #b6b2b2;
}

.accordion-button {
  height: 70px;
  border: none;
  outline: none;
}

/* CONTACT */
.content {
  background: #fff;
  box-shadow: 1px 1px 10px #8b8888;
}

.contact-col-1 {
  background: var(--bg-color);
  padding: 40px;
  text-align: center;
}

.lorem,
.p-with-check {
  line-height: 25px;
}

.contact-col-2 {
  padding: 40px;
}

.contact-col-2-heading {
  color: var(--bg-color);
  font-weight: 400;
}

.input-row {
  height: 50px;
  width: 100%;
}

.input-col {
  padding: 0;
}

.first-input-col {
  padding-left: 10px;
}

label {
  position: absolute;
  left: -99999;
  display: none;
}

input {
  width: 100%;
  height: 100%;
  font-size: 19px;
  border: none;
  box-shadow: 1px 1px 10px #8b8888;
  padding: 12px;
}

textarea {
  height: 300px;
  padding: 5px;
  font-size: 19px;
  border: none;
  box-shadow: 1px 1px 10px #8b8888;
}

.btn-div {
  margin-top: 300px;
  color: #fff;
}

.btn-submit {
  background: var(--bg-color);
  color: #fff;
  border: none;
  outline: none;
  height: 60px;
}

.fa-paper-plane {
  background: none;
  padding: 0;
}

/* FOOTER */
footer {
  background: #000;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.row-1 {
  background: #000;
  padding: 50px 0;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.ft-phone,
.fa-envelope,
.fa-location {
  background: none;
  color: var(--bg-color);
  font-size: 30px;
}

.ft-row-1,
.ft-row-2,
.ft-row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.ft-row-1 .mb-1 {
  padding: none;
}

.ft-inner-col-2 div {
  font-size: 18px !important;
  font-weight: 400;
}

.ft-inner-col-2 p {
  color: #b6b2b2;
}

.row-2 {
  background: #333;
  padding: 30px;
}

footer .fab {
  background: none;
  color: #fff;
  font-size: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}

.fab:hover {
  transform: scale(1.2);
}

.row-3 {
  background: #000;
  padding: 50px;
}

.social-media-text {
  margin: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-3 .display-5::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  height: 1px;
  width: 20%;
  background: #fff;
}

@media screen and (min-width: 576px) {
  .navbar-brand {
    font-size: 13px;
  }

  .nav-link {
    font-size: 9px;
  }

  .card-body p {
    font-size: 9px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    padding: 10px 0;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-link {
    font-size: 14px;
  }

  .intro {
    padding: 140px 0 30px 0;
  }

  .intro-1 {
    font-size: 35px;
    font-weight: 600;
  }

  .intro-2 {
    font-size: 12px;
  }

  .intro-img {
    width: 300px;
    height: 300px;
  }

  .card-body p {
    font-size: 12px;
  }

  .content {
    background: #fff;
    box-shadow: 1px 1px 10px #8b8888;
  }

  .contact-col-1 {
    background: var(--bg-color);
    padding: 90px;
  }

  .lorem,
  .p-with-check {
    line-height: 40px;
  }

  .contact-col-2 {
    padding: 90px;
  }

  .contact-col-2-heading {
    color: var(--bg-color);
    font-weight: 400;
  }

  .input-row {
    height: 50px;
    width: 100%;
  }

  .input-col {
    padding: 0;
  }

  .first-input-col {
    padding-left: 10px;
  }

  label {
    position: absolute;
    left: -99999;
    display: none;
  }

  input {
    width: 100%;
    height: 100%;
    font-size: 19px;
    border: none;
    box-shadow: 1px 1px 10px #8b8888;
    padding: 12px;
  }

  textarea {
    height: 300px;
    padding: 5px;
    font-size: 19px;
    border: none;
    box-shadow: 1px 1px 10px #8b8888;
  }

  .btn-div {
    margin-top: 300px;
    color: #fff;
  }

  .btn-submit {
    background: var(--bg-color);
    color: #fff;
    border: none;
    outline: none;
    height: 60px;
  }

  .fa-paper-plane {
    background: none;
    padding: 0;
  }

  /* FOOTER */
  footer {
    background: #000;
  }

  .row-1 {
    background: #000;
    padding: 50px;
  }

  .ft-phone,
  .fa-envelope,
  .fa-location {
    background: none;
    color: var(--bg-color);
    font-size: 40px;
  }

  .ft-row-1,
  .ft-row-2,
  .ft-row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .ft-row-1 .mb-1 {
    padding: none;
  }

  .ft-inner-col-2 div {
    font-weight: 400;
  }

  .ft-inner-col-2 p {
    color: #b6b2b2;
  }

  .row-2 {
    background: #333;
    padding: 30px;
  }

  footer .fab {
    background: none;
    color: #fff;
    font-size: 30px;
    transition: 0.5s ease;
    cursor: pointer;
  }

  .fab:hover {
    transform: scale(1.2);
  }

  .row-3 {
    background: #000;
    padding: 50px;
  }

  .social-media-text {
    margin: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row-3 .display-5::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    height: 1px;
    width: 20%;
    background: #fff;
  }
}

@media screen and (min-width: 992px) {
  .navbar {
    padding: 13px 0;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .nav-link {
    font-size: 14px;
  }

  .intro {
    padding: 210px 0 30px 0;
  }

  .intro-1 {
    font-size: 43px;
    font-weight: 600;
  }

  .intro-2 {
    font-size: 14px;
  }

  .intro-img {
    width: 360px;
    height: 360px;
  }

  .card-body p {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 16px 0;
  }

  .navbar-brand {
    font-size: 23px;
  }

  .nav-link {
    font-size: 16px;
  }

  .intro {
    padding: 250px 0 30px 0;
  }

  .intro-1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .intro-2 {
    font-size: 16px;
  }

  .intro-img {
    width: 350px;
    height: 350px;
  }

  .card-body p {
    font-size: 16px;
  }
}

@media screen and (min-width: 1400px) {
  .navbar {
    padding: 10px 0;
  }

  .navbar-brand {
    font-size: 25px;
  }

  .nav-link {
    font-size: 18px;
  }

  .btn {
    display: block;
    border: 2px solid #eeaf74;
    font-size: 15px;
    padding: 12px 10px;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    background: #fff;
    height: 3px;
    border-radius: 10px;
    width: 100%;
    bottom: -5%;
    left: 0;
    transform: translateY(10px);
    transition: 0.5s ease;
    opacity: 0;
  }

  .nav-link:hover:before {
    opacity: 80%;
    transform: translateY(0);
  }

  .intro {
    position: relative;
    padding: 250px 0 280px;
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
  }

  svg {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: none;
  }

  path {
    height: 100%;
    width: 100%;
  }

  .btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .faq {
    padding-bottom: 300px;
  }

  .content {
    background: #fff;
    box-shadow: 1px 1px 10px #8b8888;
  }

  .contact-col-1 {
    background: var(--bg-color);
    padding: 40px;
    text-align: center;
  }

  .lorem,
  .p-with-check {
    line-height: 25px;
  }

  .contact-col-2 {
    padding: 40px;
  }

  .contact-col-2-heading {
    color: var(--bg-color);
    font-weight: 400;
  }

  .input-row {
    height: 50px;
    width: 100%;
  }

  .input-col {
    padding: 0;
  }

  .first-input-col {
    padding-left: 10px;
  }

  label {
    position: absolute;
    left: -99999;
    display: none;
  }

  input {
    width: 100%;
    height: 100%;
    font-size: 19px;
    border: none;
    box-shadow: 1px 1px 10px #8b8888;
    padding: 12px;
  }

  textarea {
    height: 300px;
    padding: 5px;
    font-size: 19px;
    border: none;
    box-shadow: 1px 1px 10px #8b8888;
  }

  .btn-div {
    margin-top: 300px;
    color: #fff;
  }

  .btn-submit {
    background: var(--bg-color);
    color: #fff;
    border: none;
    outline: none;
    height: 60px;
  }

  .fa-paper-plane {
    background: none;
    padding: 0;
  }
}
